@import 'https://fonts.googleapis.com/css?family=Creepster|Trade+Winds|Ubuntu';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400,300);
*,
*::before,
*::after,
*:focus {
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

:root {
    --dark-col: #161616;
    --bg-col: #f7f7f4;
}

::-moz-selection {
    background: rgba(0, 0, 0, 0.2);
}

button::-moz-focus-inner {
    border: 0;
}

::selection {
    background: rgba(0, 0, 0, 0.2);
}


#name 
{
  font-family: 'Trade Winds', Helvetica, cursive;
  Color:#ffee58;
  text-shadow: 0 2px 3px rgba(0, 0, 0, .99);
  position: relative;
  top:25vh;
  left: 0%;
  font-size: 7.66vw ;
  text-align: center;  
  margin:0;
  display: block;
}

header 
{
  background-image: url("../assests/images/photo-1457274858420-ea606e99cc5c.jpeg");
  background-color: #3E93AB;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: 50% 0px; */
  height: 100vh;
  z-index:10;
  position:relative;
  overflow-y: hidden;
}
html,
body {
    margin: 0;
    padding: 0;
    /* height: 100%; */
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: var(--bg-col);
    font-size: 16px;
    /* line-height: 4em; */
}

.el-header {
    background: linear-gradient(50deg, #55a8ce, #11b894 60%);
    /* position: fixed; */
    /* width: 100%; */
    /* top: 0; */
    /* height: 50px; */
    /* padding: 15px 0 15px; */
    margin-bottom: -60px;
    position:relative;
    z-index: 33;
    height: 60px;
}
.mainnav-scrolled 
{
  position: fixed !important;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .4) !important;
}

img[alt="My Face"] {
    display: block;
    margin: 70px auto 0;
    box-shadow: 0 4px 8px 0 rgba(0, 8, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
    transition: all .5s ease-in-out;
}

.img-container {
    width: 100%;
    background: var(--bg-col);
}

.el-container {
    max-width: 1200px;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    float: right;
    position: relative;
    margin: auto 0;
}

nav ul li {
    display: inline-block;
    margin: 18px 9px;
    vertical-align: middle;
}

nav ul li a {
    display: block;
    /* text-decoration: none; */
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 28px;
    color: var(--bg-col);
}

.hamburger {
    display: none;
    z-index: 2;
    position: relative;
    outline: none;
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
    background: linear-gradient(90deg, #55a8ce, #11b894 50%);
}

.is-active .hamburger-inner::before,
.is-active .hamburger-inner::after {
    background: var(--dark-col);
}

/* intro styling */
.intro {
    padding-left: 3em;
    max-width: 700px;
}

.intro h2 {
    font-weight: 200;
    padding: 20px 10px;
}

.intro h2 .name {
    font-weight: 600;
    color: #55a8ce;
}

abbr {
    text-decoration: none;
    border-bottom: 2px solid;
    border-image: linear-gradient(#55a8ce, #11b894) 30;
}

article {
    padding: 24px;
    max-width: 600px;
    margin: 60px auto;
    transition: all 0.2s ease-out;
}

.el-header::after,
ul.menu,nav,
.el-container {
    overflow: hidden;
}
@media (max-width: 1200px) {
    .el-header{
        background: #f7f7f400;
    }
    .hamburger {
        display: inline-block;
        visibility: visible;
        opacity: 1;

    
    }
    ul li {
        cursor: pointer;
        padding: 9px 20px;
        font-size: 40px;
        display: block;
    }
    button:hover {
        opacity: 1;
    }
    .open button {
        opacity: 1;
    }
    nav {
        z-index: 1;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        overflow: hidden;
    }
    nav:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background: linear-gradient(45deg, #55a8ce, #11b894 70%);
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        border-radius: 100%;
        -webkit-transform: scale(0.04), translateY(999px);
        transform: scale(0.04), translateY(999px);
        overflow: hidden;
    }
    .open nav {
        top: 0;
    }
    .open nav:before {
        -webkit-animation: menu-animation 0.8s ease-out forwards;
        animation: menu-animation 0.8s ease-out forwards;
    }
    ul.menu {
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000;
        perspective: 1000;
        color: white;
    }
    ul.menu li {
        opacity: 0;
        text-align: center;
        margin: 1em auto;
        -webkit-transform: translate3d(0, 36px, 0);
        transform: translate3d(0, 36px, 0);
        display: block;
    }
    ul.menu li:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        left: auto;
        background-color: white;
        height: 100%;
        width: 0;
        overflow: hidden;
        transition: width 0.14s ease-out;
    }
    ul.menu li:after {
        opacity: 0;
        content: attr(data-text);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        color: #33adff;
        overflow: hidden;
        -webkit-transform: translate(-24px, 6px);
        transform: translate(-24px, 6px);
        transition: opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
        transition: transform 0.1s ease-out, opacity 0.1s ease-out;
        transition: transform 0.1s ease-out, opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
    }
    ul.menu li:hover:before {
        left: 0;
        right: auto;
        width: 100%;
    }
    ul.menu li:hover:after {
        opacity: 1;
        padding: 0 20px;
        -webkit-transform: translate(0px, 6px);
        transform: translate(0px, 6px);
        transition: opacity 0.2s 0.14s ease-out, -webkit-transform 0.2s 0.14s ease-out;
        transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out;
        transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out, -webkit-transform 0.2s 0.14s ease-out;
    }
    .open ul.menu li {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
        transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
        transition: transform 0.2s ease-out, opacity 0.2s ease-out;
        transition: transform 0.2s ease-out, opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
    }
    .open ul.menu li:nth-child(1) {
        transition-delay: 0.75s;
    }
    .open ul.menu li:nth-child(2) {
        transition-delay: 0.85s;
    }
    .open ul.menu li:nth-child(3) {
        transition-delay: 0.95s;
    }
    .open ul.menu li:nth-child(4) {
        transition-delay: 1.05s;
    }

    /* include link */
    @-webkit-keyframes menu-animation {
        0% {
            opacity: 0;
            -webkit-transform: scale(0.4) translateY(300%);
            transform: scale(0.4) translateY(300%);
        }
        40% {
            -webkit-transform: scale(0.4) translateY(0);
            transform: scale(0.4) translateY(0);
            transition: ease-out;
        }
        40% {
            -webkit-transform: scale(0.04) translateY(0);
            transform: scale(0.04) translateY(0);
        }
        60% {
            opacity: 1;
            -webkit-transform: scale(0.02) translateY(0px);
            transform: scale(0.02) translateY(0px);
        }
        61% {
            -webkit-transform: scale(0.04);
            transform: scale(0.04);
        }
        99.9% {
            height: 0;
            padding-bottom: 100%;
            border-radius: 100%;
        }
        100% {
            -webkit-transform: scale(5);
            transform: scale(5);
            height: 100%;
            padding-bottom: 0;
            border-radius: 0;
        }
    }
    @keyframes menu-animation {
        0% {
            opacity: 0;
            -webkit-transform: scale(0.4) translateY(300%);
            transform: scale(0.4) translateY(300%);
        }
        40% {
            -webkit-transform: scale(0.4) translateY(0);
            transform: scale(0.4) translateY(0);
            transition: ease-out;
        }
        40% {
            -webkit-transform: scale(0.04) translateY(0);
            transform: scale(0.04) translateY(0);
        }
        60% {
            opacity: 1;
            -webkit-transform: scale(0.02) translateY(0px);
            transform: scale(0.02) translateY(0px);
        }
        61% {
            -webkit-transform: scale(0.04);
            transform: scale(0.04);
        }
        99.9% {
            height: 0;
            padding-bottom: 100%;
            border-radius: 100%;
        }
        100% {
            -webkit-transform: scale(5);
            transform: scale(5);
            height: 100%;
            padding-bottom: 0;
            border-radius: 0;
        }
    }
}

@media (max-width: 600px) {
    img{
        width: 450px;
        opacity: 0.2;
    }
}

@media (max-width: 500px) {
    img{
        width: 350px;
    }
}