@import 'https://fonts.googleapis.com/css?family=Creepster|Trade+Winds|Ubuntu';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400,300);
:root {
    --d-black: #161616;
    --bg-col: #f7f7f4;
    --yellow: #ffee58;
    --purp: #BBC0F7;
    --l-blue: rgb(153, 207, 205);
    --d-blue:#4075a7;
    --h-blue:#55a8ce;
    --selection:rgba(0, 0, 0, 0.2);
}

*,
*::before,
*::after,
*:focus {
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

::-moz-selection {
    background: var(--selection);
}

::selection {
    background: var(--selection);
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: var(--bg-col);
    font-size: 16px;
}

ul{
    list-style: none;
    padding: 0;
    /* margin: 0; */
    /* display: inline-block; */
}

header {
    background: url("../assests/images/photo-1457274858420-ea606e99cc5c.jpeg") no-repeat center center;
    background-color: var(--h-blue);
    background-size: cover;
    height: 100vh;
    z-index: 10;
    position: relative;
    overflow-y: hidden;
    background-attachment: fixed;
}
#name {
    font-family: 'Trade Winds', Helvetica, cursive;
    color: var(--yellow);
    text-shadow: 0 2px 3px rgba(0, 0, 0, .99);
    font-size: 7.66vw;
    display: block;
}
#name p{
    margin:0 auto;
    vertical-align: middle;
    text-align: center;
    line-height: 100vh;
}
/* not main header but container for nav n logo */
.el-header {
    margin-bottom: -60px;
    position: relative;
    z-index: 33;
    height: 60px;
    transition: all 1s ease-in-out;
}

.logo {
    font-family: 'Trade Winds', Helvetica, cursive;
    color: var(--yellow);
    text-shadow: 0 2px 3px rgba(0, 0, 0, .90);
    vertical-align: middle;
    font-size: 2em;
    line-height: 60px;
    visibility: hidden;
    opacity: 0;
    float: left;
    margin-left: 15px;
    transition: all .5s ease-in-out;
}

nav {
    float: right;
    height: 60px;
}

nav ul {
    /* list-style: none; */
    float: right;
    position: relative;
    margin: auto 0;
}

nav ul li {
    display: inline-block;
    margin: 10px 9px;
    vertical-align: middle;
}

nav ul li a {
    display: block;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 28px;
    color: #161616cc;
}

nav ul li a:hover {
    color: var(--d-black);
}

.hamburger {
    z-index: 2;
    position: relative;
    outline: none;
    visibility: hidden;
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
    background: linear-gradient(90deg, #55a8ce, #11b894 50%);
}

.is-active .hamburger-inner::before,
.is-active .hamburger-inner::after {
    background: var(--d-black);
}

.mainnav-scrolled {
    position: fixed !important;
    top: 0;
    width: 100%;
    background: linear-gradient(50deg, var(--d-blue), var(--purp) 99%);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

img[alt="My Face"] {
    display: block;
    margin: 0 auto;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    box-shadow: 0 4px 8px 0 rgba(0, 8, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    border-radius: 10px;
    transition: all .5s ease-in-out;
}

img[alt="My Face"]:hover {
    -webkit-filter: blur(10px) saturate(2);
    filter: blur(10px) saturate(2);  
 }

.img-container {
    width: 100%;
    background: var(--bg-col);
}

.my-face{
    position: relative;
    width: 600px;
    margin: 70px auto 0;
}

.hidden-img-txt {
    visibility: hidden;
    position: absolute;
    top:50%;
    left: 23%;
    color: var(--bg-col);
    font-size: 2em;
    z-index: 99px;
}
  
.my-face:hover > .hidden-img-txt {
    visibility: visible;
    pointer-events: none;
}

/* intro styling */

.intro {
    padding-left: 3em;
    max-width: 700px;
}

.intro h2 {
    font-weight: 200;
    padding: 20px 10px;
}

.intro h2 .name {
    font-weight: 600;
    color: #55a8ce;
}

abbr {
    line-height: .8em;
    text-decoration: none;
    border-bottom: 2px solid;
    border-image: linear-gradient(#55a8ce, #11b894) 30;
}

.section-title{
    text-transform: uppercase;
    display: inline-block;
    text-align: right;
    color: #007bff;
    width: 200px;
    margin-right: 70px;
}
.skill-section{
    /* text-align: center; */
    vertical-align: top;

}
.skills-tbl{
    display: inline-block;
    width: 70%;
}
.skills-col{
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
    width: 32%;
    text-align: left;
}
.el-container {
    max-width: 1200px;
    margin: 0 auto;
    /* text-align: center; */
    /* set in reveal */
    /* visibility: visible;
    -webkit-transform: translateY(20px) scale(1);
    opacity: 0;
    transform: translateY(20px) scale(1);
    opacity: 0; */
}

article {
    padding: 24px;
    max-width: 600px;
    margin: 60px auto;
    transition: all 0.2s ease-out;
}


/*****contact form look*****/

.form {
    max-width: 650px;
    margin: 0 auto 100px;
    padding: 0;
    width: 100%;
    /* display: inline-block; */

}

form .your-name {
    display: block;
    margin-bottom: 20px;
    margin: 0 auto;
    width: 50%;
    float: left;
}

.form span{
    font-family: Arial, Helvetica, sans-serif;

}

form .content-info {
    padding: 0;
    margin: 0;
    border: none;
}

form .content-info p:nth-child(1){
    padding-right:5px;
}

form .content-info p:nth-child(2){
    padding-left:5px;
}

.content-msg {
    margin: 0;
    width: 100%;
}

.feedback-input {
    color: var(--dark-col);
    border-radius: 10px;
    background-color: #fafafa;
    padding: 13px 13px 13px 55px;
    margin: 0 auto;
    border: none;
    width: 100%;
    display: inline-block;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .4);
}

.feedback-input:focus {
    background: #fff;
    border: 2px solid var(--purp);
    color: #222;
}

/*Contact Form Icons*/

#username {
    background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
}

#email {
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
}

#content {
    background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
}

.contact-icon,
.contact-icon:focus {
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

textarea {
    resize: none;
    font-family: inherit;
}

input,
textarea{
    font-size: .8em;
    letter-spacing: .05em;
}

input:hover,
textarea:hover {
    background-color: rgba(110, 102, 254, .1);
}

.submit input{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

#button-blue {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 24px;
    width: 5em;
    cursor: pointer;
    background-color: var(--l-blue);
    border-radius: 3px;
    border: none;
    color: var(--d-black);
    padding: 5px 0 0;
    transition: all 0.2s;
    font-weight: 700;
    box-shadow: inset 1px 2px 2px rgba(0, 0, 0, .1);
}

#button-blue:hover {
    background-color: var(--bg-col);
    color: var(--d-black);
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, .7), -1px 4px 2px rgba(0, 0, 0, .8);
}

#button-blue:active{
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, .9), -1px 2px 3px rgba(0, 0, 0, .6);
}

/***** END OF CONTACT ME STYLES *****/

.foot {
    background: var(--d-black);
}

.foot p {
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    padding: 100px 0;
    color: var(--bg-col);
}

.visible {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 1200px) {
    .el-header {
        background: transparent;
    }
    .logo {
        float: left;
        color: var(--d-black);
        margin-left: 15px;
        width: 60px;
    }
    .hamburger {
        visibility: visible;
        opacity: 1;
        float: right;
    }
    nav ul li {
        cursor: pointer;
        padding: 9px 20px;
        font-size: 40px;
        display: block;
    }
    button:hover {
        opacity: 1;
    }
    .open button {
        opacity: 1;
    }
    nav {
        z-index: 1;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        overflow: hidden;
    }
    nav:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background: linear-gradient(50deg, #4075a7, var(--purp) 50%); 
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        border-radius: 100%;
        -webkit-transform: scale(0.04), translateY(999px);
        transform: scale(0.04), translateY(999px);
        overflow: hidden;
    }
    .open nav {
        top: 0;
    }
    .open nav:before {
        -webkit-animation: menu-animation 0.3s ease-out forwards;
        animation: menu-animation 0.3s ease-out forwards;
    }
    ul.menu {
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-padding-start: 0;
        -webkit-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000;
        perspective: 1000;
        color: white;
    }
    ul.menu li {
        opacity: 0;
        text-align: center;
        margin: 20px auto;
        -webkit-transform: translate3d(0, 36px, 0);
        transform: translate3d(0, 36px, 0);
        display: block;
    }
    .open ul.menu li {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
        transition: transform 0.2s ease-out, opacity 0.2s ease-out;
        transition: transform 0.2s ease-out, opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
    }
    .open ul.menu li:nth-child(1) {
        transition-delay: 0.75s;
    }
    .open ul.menu li:nth-child(2) {
        transition-delay: 0.85s;
    }
    .open ul.menu li:nth-child(3) {
        transition-delay: 0.95s;
    }
    .open ul.menu li:nth-child(4) {
        transition-delay: 1.05s;
    }
    .open ul.menu li:nth-child(5) {
        transition-delay: 1.15s;
    }
    /* include link */
    @-webkit-keyframes menu-animation {
        0% {
            opacity: 0;
            -webkit-transform: scale(0.4) translateY(300%);
            transform: scale(0.4) translateY(300%);
        }
        40% {
            -webkit-transform: scale(0.4) translateY(0);
            transform: scale(0.4) translateY(0);
            transition: ease-out;
        }
        40% {
            -webkit-transform: scale(0.04) translateY(0);
            transform: scale(0.04) translateY(0);
        }
        60% {
            opacity: 1;
            -webkit-transform: scale(0.02) translateY(0px);
            transform: scale(0.02) translateY(0px);
        }
        61% {
            -webkit-transform: scale(0.04);
            transform: scale(0.04);
        }
        99.9% {
            height: 0;
            padding-bottom: 100%;
            border-radius: 100%;
        }
        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            height: 100%;
            padding-bottom: 0;
            border-radius: 0;
        }
    }
    @keyframes menu-animation {
        0% {
            opacity: 0;
            -webkit-transform: scale(0.01) translateY(300%);
            transform: scale(0.01) translateY(300%);
        }
        40% {
            -webkit-transform: scale(0.05) translateY(0);
            transform: scale(0.05) translateY(0);
            transition: ease-out;
        }
        40% {
            -webkit-transform: scale(0.16) translateY(0);
            transform: scale(0.16) translateY(0);
        }
        60% {
            opacity: 1;
            -webkit-transform: scale(0.1) translateY(0px);
            transform: scale(0.1) translateY(0px);
        }
        61% {
            -webkit-transform: scale(0.4);
            transform: scale(0.4);
        }
        99.9% {
            height: 0;
            padding-bottom: 100%;
            border-radius: 100%;
        }
        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            height: 100%;
            padding-bottom: 0;
            border-radius: 0;
        }
    }

    .section-title{
        margin-left: 15px;
        display: block;
        width:auto;
        text-align: left;
    }
    .skills-tbl{
        margin: 0 auto;
        display: block;
    }
    .skills-col{
        min-width: 120px;
    }
}

@media (max-width: 600px) {
    .my-face{
        width: 400px;
    }
    .logo {
        color: var(--yellow);
        /* background-color: var(--d-black); */
        border-radius: 50%;
        /* box-shadow:  0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.5) inset; */
    }
    form .your-name {
        width: 100%;
    }
    form.form label {
        margin: 0;
    }
    form .content-info p:nth-child(1){
        padding-right:0;
    }
    form .content-info p:nth-child(2){
        padding-left:0;
    } 
}

@media (max-width: 500px) {
    .my-face {
        width: 300px;
    }
    .skills-col{
        display: block;
    }
}

